<!-- start preloader -->
<div class="preloader" th:fragment="preloader">
    <div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>
<!-- end preloader -->
<!-- start navigation -->

<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation" th:fragment="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">NTCA</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right text-uppercase">
                <!--            <ul class="nav navbar-nav navbar-right">-->
                <li><a class="aa" href="#">Greeting</a></li>
                <li><a class="aa" href="/informIntroduce">information</a></li>
                <li><a class="aa" href="/community">Community</a></li>
                <li sec:authorize="isAnonymous()"><a class="nav-fill" href="/login">Login</a></li>
                <li sec:authorize="hasRole('MEMBER')"><a class="nav-fill" href="/member/myInfo">MyInfo</a></li>
                <li sec:authorize="isAnonymous()"><a class="nav-fill" href="/join">Join</a></li>
                <li sec:authorize="isAuthenticated()"><a class="nav-fill" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- end navigation -->

<!-- start footer -->
<footer th:fragment="footer">
    <div class="container">
        <a href="/"><img class="mb-2" style="max-width:5%;" th:src="@{/images/titleLogo.png}"></a>
        <div class="row">
            <p>National Technical Certification Association</p>
            <p class="mb-0">고객센터 : 0000-0000 ( AM 09:00 ~ PM 19:00 ) | FAX : 000-000-0000 | Email :
                help@ncta_project.com</p>
            <p class="mb-0">주소 : 서울특별시 강남구 테헤란로7길 7 (역삼동) | 우편번호 : 06134</p>
            <p class="mb-0">대표 : 테스트 | 사업자등록번호 : 000-00-00000</p>
            <p class="mb-0">통신판매업 신고번호 제 0000-서울강남-0000 호</p>
            <p>Copyright © NCTA_Project</p>
        </div>
    </div>
</footer>
<!-- end footer -->