<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/base :: common_head(~{::title},~{::script})">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script type="text/javascript" src="attach_photo.js" charset="utf-8"></script>
    <script src="js/bootstrap.min.js"></script>
    <script th:inline="javaScript">
        let memberId = [[${memberId}]];
        let oEditors = []
        subject = function (value){
            $("#subject").text($(value).text());
        }
        smartEditor = function () {
            nhn.husky.EZCreator.createInIFrame({
                oAppRef: oEditors,
                elPlaceHolder: "editorTxt",
                sSkinURI: "/smarteditor/SmartEditor2Skin.html",
                fCreator: "createSEditor2"
            })
        }
        saveBoard = function() {
            oEditors.getById["editorTxt"].exec("UPDATE_CONTENTS_FIELD", [])
            let content = document.getElementById("editorTxt").value;
            let subject = $("#subject").text();
            let title = document.getElementById("title").value;

            if(subject == '말머리'){
                alert("말머리를 선택해주세요.");
                return;
            }else if(title == ''){
                alert("제목을 압력해주세요.");
                $("#title").focus();
                return;
            }else if(content == '') {
                alert("내용을 입력해주세요.");
                oEditors.getById["editorTxt"].exec("FOCUS")
                return;
            } else {

                let write = {
                    title: title,
                    content : content,
                    subject : subject
                }

                $.ajax({
                    url: "/smartEditor/saveBoard",
                    type:"post",
                    data: JSON.stringify(write),
                    dateType : "json",
                    contentType :"application/json",
                    success: function(data) {
                        console.log('success');
                        // alert('저장하였습니다.');
                        window.location="/community";
                    }
                    , error: function() {
                        alert('오류가 발생하였습니다.');
                    }
                })
            }
        }

        $(document).ready(function () {
            smartEditor();
            $("#submitBtn").click(function () {
                saveBoard();
            })
            $("#cancelBtn").click(function () {
                window.location="/community";
            })

        })
    </script>
</head>

<body>
<th:block th:replace="fragments/headerAndFooter :: preloader"></th:block>
<th:block th:replace="fragments/headerAndFooter :: navigation"></th:block>

<!-- start feature1 -->
<section id="community">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp" data-wow-delay="0.6s">
                <h2 class="text-uppercase">Community</h2>
                <h5 class="mt-4 mb-5 text-primary">국가 기술 자격증에 대해 자유롭게 이야기 나누는 공간입니다</h5>
                <form method="post">
                    <div class="border-1 p-3">
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownBtn">
                                <span id="subject">말머리</span><i class="fa fa-chevron-down mx-1"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="#" onclick="subject(this)">정보처리기사</a></li>
                                <li class="dropdown-item"><a href="#" onclick="subject(this)">전기기사</a></li>
                                <li class="dropdown-item"><a href="#" onclick="subject(this)">어쩌구기사</a></li>
                            </ul>
                        </div>
                        <input type="text" id="title" class="form-control3" placeholder="제목을 입력하세요" maxlength="75">
                        <hr class="mt-0 mb-3"/>
                    </div>
                    <div id="smarteditor">
                        <textarea name="editorTxt" id="editorTxt"
                                  rows="20" cols="10"
                                  placeholder="내용을 입력해주세요"
                                  style="width:100%;"></textarea>
                    </div>
                    <div class="text-center mt-3">
                    <input type="button" id="cancelBtn" class="btn btn-primary" value="취소"/>
                    <input type="button" id="submitBtn" class="btn btn-danger" value="등록"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- end feature1 -->

<th:block th:replace="fragments/headerAndFooter :: footer"></th:block>

</body>
</html>