<!DOCTYPE html>
<html lang="en"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/base :: common_head(~{::title},~{::script})">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script src="js/join.js"></script>
</head>

<body>
<th:block th:replace="fragments/headerAndFooter :: preloader"></th:block>

<!-- start contact -->
<section id="contact">
    <div class="overlay">
        <div class="container">
            <div class="row dis-flex">
                <div class="col-md-6 mx-auto text-center">
                    <a href="/"><img class="mb-0 w-25" src="images/titleLogo.png"></a>
                    <h2 class="text-uppercase mb-0 display-3">Join</h2>
                    <div class="contact-form">
                        <form action="/join" method="post">
                            <div class="col-md-12">
                                <input type="text" id="memberId" name="memberId" class="form-control mb-2 mt-4"
                                       placeholder="아이디" maxlength="15">
                                <p id="idError" class="error text-left mb-0 ps-3"></p>
                            </div>
                            <div class="col-md-12">
                                <input type="password" id="password" name="password" class="form-control mb-2 mt-4"
                                       placeholder="비밀번호" maxlength="15">
                                <p id="pwError" class="error text-left mb-0 ps-3"></p>
                            </div>
                            <div class="col-md-12">
                                <input type="password" id="password2" name="password2" class="form-control mb-2 mt-4"
                                       placeholder="비밀번호 확인" maxlength="15">
                                <p id="pwError2" class="error text-left mb-0 ps-3"></p>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6 ps-0 pe-2">
                                    <input type="text" id="email" name="email" class="form-control mb-2 mt-4"
                                           placeholder="이메일" maxlength="15">
                                </div>
                                <div class="col-md-6 ps-2 pe-0">
                                    <select id="email2" name="email" class="select form-control mb-2 mt-4">
                                        <option value="" selected disabled>@ 주소 선택</option>
                                        <option value="hanmail.net">@ hanmail.net</option>
                                        <option value="naver.com">@ naver.com</option>
                                        <option value="google.com">@ google.com</option>
                                        <option value="nate.com">@ nate.com</option>
                                    </select>
                                </div>
                                <p id="emailError" class="error text-left mb-0 ps-3"></p>
                            </div>
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-12">
                                <input type="text" id="phoneNumber" name="phoneNumber" class="form-control mb-2 mt-4"
                                       placeholder="휴대전화" maxlength="11">
                                <p id="phoneNumberError" class="error text-left mb-0 ps-3"></p>
                            </div>
                            <div class="col-md-6 pe-2 mt-4">
                                <input type="button" id="cancelBtn" class="form-control text-uppercase" value="cancel">
                            </div>
                            <div class="col-md-6 ps-2 mt-4">
                                <input type="button" id="joinBtn" class="form-control text-uppercase" value="join">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact -->

<th:block th:replace="fragments/headerAndFooter :: footer"></th:block>
</body>
</html>
