<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/base :: common_head(~{::title},~{::script})">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script src="js/login.js"></script>

</head>

<body>
<th:block th:replace="fragments/headerAndFooter :: preloader"></th:block>

<!-- start contact -->
<section id="contact">
    <div class="overlay">
        <div class="container">
            <div class="row dis-flex">
                <div class="col-md-6 mx-auto text-center">
                    <a href="/"><img class="mb-0 w-25" src="picture/titleLogo.png"></a>
                    <h2 class="text-uppercase mb-0 display-3">Login</h2>
                    <h5 class="error" th:text="${error}"/>
                    <div class="contact-form">
                        <form action="/login" method="post">
                            <div class="col-md-12">
                                <input type="text" id="memberId" name="memberId" class="form-control mb-2 mt-4"
                                       placeholder="아이디">
                                <p id="idError" class="error text-left mb-0 ps-3"></p>
                            </div>
                            <div class="col-md-12">
                                <input type="password" id="password" name="password" class="form-control mb-2 mt-4"
                                       placeholder="비밀번호">
                                <p id="pwError" class="error text-left mb-0 ps-3"></p>
                            </div>
                            <div class="col-md-6 pe-2 mt-4">
                                <input type="button" id="cancelBtn" class="form-control text-uppercase" value="cancel">
                            </div>
                            <div class="col-md-6 ps-2 mt-4">
                                <input type="button" id="loginBtn" class="form-control text-uppercase" value="login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact -->

<th:block th:replace="fragments/headerAndFooter :: footer"></th:block>
</body>
</html>