<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/base :: common_head(~{::title},~{::script})">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script th:src="@{/js/memberInfo.js}"></script>


</head>
<body>
<th:block th:replace="fragments/headerAndFooter :: preloader"></th:block>
<th:block th:replace="fragments/headerAndFooter :: navigation"></th:block>

<!-- start pricing -->
<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow bounceIn">
                <h2 class="text-uppercase">My Info</h2>
                <div class="row dis-flex wow fadeIn" data-wow-delay="0.6s">
                    <div class="pricing active col-md-4 mx-auto px-0 text-uppercase">
                        <div class="pricing-title">
                            <h4>정보를 확인하세요</h4>
                        </div>
                        <ul>
                            <li class="text-lowercase" th:text="|아이디 : |+${memberDTO.memberId}"></li>
                            <li class="text-lowercase" th:text="|이메일 : |+${memberDTO.email}"></li>
                            <li class="text-lowercase" th:text="|휴대전화 : |+${memberDTO.phoneNumber}"></li>
                        </ul>
                        <button id="withdrawalBtn" class="btn btn-primary text-uppercase">Withdrawal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end pricing -->

<!-- Modal start -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="staticBackdropLabel">회원탈퇴</h3>
            </div>
            <div class="modal-body">
                <div class="w-67 mx-auto px-0">
                    <h5 class="text-center my-2">※ 탈퇴 시 회원님의 이용정보가 삭제되며 복구가 불가능하오니 신중히 선택하시기 바랍니다.</h5>
                    <!--                    <h5 class="text-center my-2"></h5>-->
                    <h5 class="text-center text-danger mt-1 mb-4">탈퇴를 원하시면 비밀번호를 입력해주세요.</h5>
                </div>
                <div class="w-67 mx-auto px-0">
                    <input type="password" id="withdrawalPw" name="password" class="form-control mx-auto"
                           placeholder="비밀번호 입력" maxlength="15">
                    <p class="error-14" id="pwError"></p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="dis-flex">
                    <button type="button" class="mx-auto me-1 col-md-4 btn btn-primary" data-dismiss="modal">CLOSE
                    </button>
                    <button type="button" id="resultBtn" class="mx-auto ms-1 col-md-4 btn btn-primary">WITHDRAWAL
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal end-->

<th:block th:replace="fragments/headerAndFooter :: footer"></th:block>
</body>
</html>